body{
	margin:0;
	padding:0;
}
h1{
	font-size:50px;
}
h2{
	font-size:50px;
}
h3{
	font-size:25px;
	color:#2Abc41;
}
#nusu{
	color:teal;
}	
.nusu{
	display:flex;
}	
.half-width{
	width:50%;
	padding:2%;
}	
.nusrat{
	display:flex;
}	
.beli{
	color:indigo;
}	
p{
	color:blue;
}	
a{
	color:purple;
}	
.bela{
	color:maroon;
}	
.belinusrat{
	color:blue;
}	
.top-banner{
	background-image:url(images/top-banner.png);
	background-repeat:no-repeat;
}	
.text-btm{
	text-decoration:none;
	background-image:linear-gradient(orange,tomato);
	color:white;
	font-weight:700;
	padding:10px 40px;
	border-radius:20px;
}	
.dream-bg{
	background-image:url(images/dream-bg.png);
	background-repeat:no-repeat;
	background-position:right;
}	
.experience-item{
	width:40%;
	margin-left:5%;
	padding-left:20px;
	box-shadow:10px 10px 30px gray;
	border-radius:10px;
	border-left:7px solid purple;
}	
.underline{
    text-align:center;
	margin-top:20px;
}
#fsd{
	border-left:solid orange red;
	
}
	
	
	
	
	
	
	
